<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.L_caron</key>
  <array>
    <string>dcaron</string>
    <string>lcaron</string>
  </array>
  <key>public.kern2.R_l</key>
  <array>
    <string>b</string>
    <string>bdotaccent</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcaron</string>
    <string>hcircumflex</string>
    <string>k</string>
    <string>kcaron</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>lj</string>
    <string>lslash</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
    <string>tdotaccent</string>
    <string>thorn</string>
  </array>
</dict>
</plist>
